_UpgradeReport_Files
UpgradeLog.XML
source/**/**/obj
source/**/**/bin
obj
bin
*.vssscc
*.vspscc
*.chm
_[Rr]e[Ss]harper.*
*.csproj[1-9]*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.[Rr]e[Ss]harper
*.suo
*.cache
*~
*.stackdump
*.swp
*.swo
*.user
Source/docs/Help/*.*
artifacts
*.orig
build/tools/hstart/null
*.sdcs
GemFile.lock
*.BACKUP.[1-9]*
*.LOCAL.[1-9]*
*.REMOTE.[1-9]*
*.docstates
*_mm_cache*
source/direct_response_admin/app/DirectResponseAdmin.Web.UI/web.config
etl/source_data/**/**
etl/*.log
*local.xml
source/direct_response_admin/app/DirectResponseAdmin.Web.UI/*.log*
build/tools/console/console.xml