@model IEnumerable<JQuerySpike.Models.ContentItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	#sortable1 { list-style-type: none; margin: 5px; padding: 5px; float: left; margin-right: 10px; }
	#sortable1 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }
	fieldset { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 250px; width: 200px; }
</style>    

    <script type="text/javascript">
        $(function () {
            $("#sortable1").sortable().disableSelection();

            $("#submit-list").button();

            $("#submit-list").click(function () {
                $.ajax({
                    url: '/Sorting/SortedLists/', 
                    data: { listIds: $("#sortable1").sortable('toArray') },
                    type: 'POST',
                    traditional: true
                });
            });

        });
    </script>
<fieldset>
<legend>Sorting</legend>
<ul id="sortable1" class="connectedSortable">
@foreach (var item in Model)
{
    <li id="@item.Id" class="ui-state-default">@item.Description</li>
}
</ul>
</fieldset>
<button id="submit-list">Send To Controller</button>